---
import UserAvatar from '../components/UserAvatar.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Container Queries</title>
    </head>
    <body>
        <UserAvatar
            name="Emanuel"
            role="Admin"
            imageUrl="user-icon.jpg"
            containerWidth="400"
        />
    </body>
</html>
<style>
    :root{
        font-family: 'Roboto', sans-serif;
        --beige: oklch(0.9765 0.0098 87.47)
    }
    body {
        background-color: var(--beige);
    }
</style>